<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Task List</title>
</head>
<body>
    <h2>Task List</h2>
    <a href="{% url 'task_create' %}">Create Task</a>
    <table>
        <tr>
            <th>Task</th>
            <th>Due Date</th>
            <th>Completed</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.task }}</td>
            <td>{{ task.due_date }}</td>
            <td>{{ task.completed }}</td>
            <td>
                <a href="{% url 'task_update' task.id %}">Edit</a>
                <a href="{% url 'task_delete' task.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    

</body>
</html>