<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
</head>
<style>
	body {
		text-align: center;
	}
	form {
		display: flex;
		flex-direction: column;
		width: 200px;
		margin: 0 auto;
	}
	button {
		padding: 5px;
		background-color: #4CAF50;
		color: white;
		border: none;
		cursor: pointer;
	}
	button:hover {
		background-color: #45a049;
	}
</style>
<body>
	<h2>Welcome to the Home Page</h2>
	<form action="{% url 'logout' %}" method="post">
    	{% csrf_token %}
    	<button type="submit">Logout</button>
	</form>
</body>
</html>
